<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
</ul>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
